body {
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
}

td {
	margin: 0;
	width: 40px;
	height: 25px;
	text-align: center;
	border-right: 1px solid #eee;
}

tr.hint {
	color: #999;
	border: none;
	background-color: none;
}

tr.hint td {
	border-right: none;
}

td.fret0 {
	width: 20px;
}

tr.string td.fret {
	background-image: url(fret.png);
	cursor: pointer;
}

tr.string td.fret0 {
	background-color: #ca6;
	background-image: none;
	cursor: pointer;
}

tr.string td.fret0 span.note {
	background: none;
}

td.fret span.note {
	background-color: #fff;
	padding-left: 2px;
	padding-right: 2px;
}

span.keynote {
	font-weight: bold;
}

span.steps span.stepnote {
	display: inline-block;
	text-align: center;
	width: 20px;
}

span.steps span.step {
	display: inline-block;
	text-align: center;
	margin: 3px;
	background-color: #eee;
	padding: 2px;
	font-size: small;
}

span.steps span.step1 {
	width: 40px;
}

span.steps span.step2 {
	width: 80px;
}

span.steps span.step3 {
	width: 120px;
}

span.steps span.step4 {
	width: 160px;
}

span.steps span.step5 {
	width: 200px;
}


